Explorando dados do Starbucks

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import seaborn as sns
import os
import sys
import importlib
import functions as aux_fun
importlib.reload(aux_fun)
from datetime import datetime as dti

Lendo os dados

In [2]:
# Lendo os dados

portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [3]:
cond = transcript.person == '94de646f7b6041228ca7dec82adb97d2'
transcript.loc[cond]

,person,event,value,time
2276,94de646f7b6041228ca7dec82adb97d2,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},0
16010,94de646f7b6041228ca7dec82adb97d2,offer viewed,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},6
24531,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 7.41},30
24532,94de646f7b6041228ca7dec82adb97d2,offer completed,{'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d...,30
42252,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 1.47},102
55475,94de646f7b6041228ca7dec82adb97d2,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},168
75256,94de646f7b6041228ca7dec82adb97d2,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},186
77624,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 2.62},192
81725,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.59},204
93913,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 2.2800000000000002},246
96627,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 1.56},258
97913,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 2.74},264
99190,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 6.98},270
99191,94de646f7b6041228ca7dec82adb97d2,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,270
100437,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 5.87},276
101667,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 3.77},282
102890,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.33},288
104013,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 1.0},294
109101,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 2.98},324
110041,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.52},330
113102,94de646f7b6041228ca7dec82adb97d2,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},336
152891,94de646f7b6041228ca7dec82adb97d2,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},408
164148,94de646f7b6041228ca7dec82adb97d2,offer viewed,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},408
168269,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 9.66},414
171735,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 1.35},420
171736,94de646f7b6041228ca7dec82adb97d2,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,420
177767,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 1.8399999999999999},432
180401,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.93},438
185283,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 2.79},450
187480,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 1.7000000000000002},456
193520,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.99},474
198779,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 1.4},492
198780,94de646f7b6041228ca7dec82adb97d2,offer completed,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7...,492
203846,94de646f7b6041228ca7dec82adb97d2,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},504
222483,94de646f7b6041228ca7dec82adb97d2,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},516
222484,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.27},516
235588,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 1.02},546
237713,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 2.7},552
247375,94de646f7b6041228ca7dec82adb97d2,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},576
258696,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 4.13},576
266174,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.31},588
275001,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 5.64},606
275002,94de646f7b6041228ca7dec82adb97d2,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,606
282196,94de646f7b6041228ca7dec82adb97d2,offer viewed,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},624
282197,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 6.18},624
293425,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 1.78},660
295012,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.41000000000000003},666
298164,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.42},678
300877,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.73},690
302162,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 4.96},696
303445,94de646f7b6041228ca7dec82adb97d2,transaction,{'amount': 0.9},702

Dicion√°rio dos dados:  

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

In [4]:
portfolio

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [5]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [6]:
transcript.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [7]:
portfolio.shape, profile.shape, transcript.shape

((10, 6), (17000, 5), (306534, 4))

Mapping to integer

In [8]:
portfolio.id, dict_port_id = aux_fun.mapper_ids(portfolio.id)
profile.id, dict_prof_id = aux_fun.mapper_ids(profile.id)

In [12]:
transcript.person = transcript.person.map(dict_prof_id)

In [16]:
cond = transcript.person == 2
transcript.loc[cond]

,person,event,value,time
47581,2,transaction,{'amount': 1.34},132
53175,2,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},168
65843,2,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},168
130148,2,transaction,{'amount': 1.6400000000000001},348
184911,2,transaction,{'amount': 3.47},450
193184,2,transaction,{'amount': 1.62},474
245123,2,offer received,{'offer id': '5a8bc65990b245e5a138643cd4eb9837'},576
285920,2,transaction,{'amount': 2.14},636
294714,2,offer viewed,{'offer id': '5a8bc65990b245e5a138643cd4eb9837'},666
301916,2,transaction,{'amount': 4.09},696