Explorando dados do Starbucks

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import seaborn as sns
import os
import sys
import importlib
import functions as aux_fun
importlib.reload(aux_fun)
from datetime import datetime as dti

Lendo os dados

In [2]:
# Lendo os dados

portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [ ]:
cond = transcript.person == '94de646f7b6041228ca7dec82adb97d2'
transcript.loc[cond]

Dicion√°rio dos dados:  

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

In [4]:
portfolio

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [5]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [6]:
transcript.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [7]:
portfolio.shape, profile.shape, transcript.shape

((10, 6), (17000, 5), (306534, 4))

Mapping to integer

In [8]:
portfolio.id, dict_port_id = aux_fun.mapper_ids(portfolio.id)
profile.id, dict_prof_id = aux_fun.mapper_ids(profile.id)

In [9]:
transcript.person = transcript.person.map(dict_prof_id)

In [13]:
cond = transcript.person == 1518
transcript.loc[cond]

,person,event,value,time
1128,1518,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0
12903,1518,offer viewed,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0
22478,1518,transaction,{'amount': 19.93},24
22479,1518,offer completed,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...,24
34184,1518,transaction,{'amount': 35.34},66
47666,1518,transaction,{'amount': 33.45},132
54292,1518,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},168
66131,1518,offer viewed,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},168
72390,1518,transaction,{'amount': 28.0},180
72391,1518,offer completed,{'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d...,180
108048,1518,transaction,{'amount': 24.43},318
202696,1518,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},504
214642,1518,offer viewed,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},504
228096,1518,transaction,{'amount': 29.56},528
228097,1518,offer completed,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...,528
235364,1518,transaction,{'amount': 18.27},546
237534,1518,transaction,{'amount': 19.26},552
265875,1518,transaction,{'amount': 21.36},588
291649,1518,transaction,{'amount': 19.52},654

In [37]:
transcript.loc[transcript.event=='offer received'].person.nunique() - profile.id.nunique() # .groupby('person', dropna=False).agg(count=('person','count')).sort_values('count')

# 6 usu√°rios n√£o receberam oferta

-6

In [50]:
# Abrindo a coluna de value
# transcript['valor'] = pd.DataFrame(transcript.value.to_list())

pd.concat([transcript,pd.DataFrame(transcript.value.to_list())], axis=1)

,person,event,value,time,valor,offer id,amount,offer_id,reward
0,3,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN,NaN
1,4,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN
2,5,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN,NaN,NaN
3,6,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,NaN
4,7,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
306529,16959,transaction,{'amount': 1.5899999999999999},714,{'amount': 1.5899999999999999},NaN,1.59,NaN,NaN
306530,16964,transaction,{'amount': 9.53},714,{'amount': 9.53},NaN,9.53,NaN,NaN
306531,16979,transaction,{'amount': 3.61},714,{'amount': 3.61},NaN,3.61,NaN,NaN
306532,16987,transaction,{'amount': 3.5300000000000002},714,{'amount': 3.5300000000000002},NaN,3.53,NaN,NaN
306533,16994,transaction,{'amount': 4.05},714,{'amount': 4.05},NaN,4.05,NaN,NaN