#### Comments

Data are generated by simulation, it is noted that the proportion of the types of offers sent is distributed by 40% for bogo type, 40% for discount and 20% for informational.  

For the same reason, the same must be seen in the distribution by offer id

Exact, the data were generated with the same porportion for all offer ids present in portifolio

For profile data, it is noteworthy that only 6 users have not received any offer.

In [39]:
np.setdiff1d(profile2['user_id'], user_offer_df2['user_id'])

array([  872,  5425,  5639,  6789, 14763, 15391], dtype=int64)

Because of this, the distribution of offer data are very close to the distribution of profile data

For income data, separates the continuous value into quartiles to check distribuition of offers

TODO CONTINUAR DAQUI

For income, more offers were sent to quartile where there are more people.The income group that least received offers was the third.

For gender

More offers were sent to male, putting with the distribution of this category on the profile base

The first step for an offer to have effect on the user is to view it.

Visualizations by Type of Offer

In [40]:
# Proportion test between two samples
# The test is one-tailed greater than

list_set = [['bogo', 'informational'], ['bogo', 'discount'], ['informational', 'discount']]

for set_ in list_set:
    aux_fun.test_proportions_in_dataframe(df=user_offer_df2, column='offer_type', 
        cat1=set_[0], cat2=set_[1], metric='viewed_rate')

p-value of 0.0. With confidence value of 0.05, bogo and informational distributions are different
p-value of 0.0. With confidence value of 0.05, bogo and discount distributions are different
p-value of 0.002. With confidence value of 0.05, informational and discount distributions are different

Then, statistically, despite close proportions between infromational and discount, the three types of offers have different viewing proportions

Visualizations by offer id

Six offers has visualization fee greater than 80%.Three have a rate greater than 50%.One, the offer with ID 4 has a low view rate.  

Looking at portifolio dataset

In [41]:
portfolio[['offer_id', 'channels']]

   offer_id                              channels
0         0         ['email', 'mobile', 'social']
1         1  ['web', 'email', 'mobile', 'social']
2         2            ['web', 'email', 'mobile']
3         3            ['web', 'email', 'mobile']
4         4                      ['web', 'email']
5         5  ['web', 'email', 'mobile', 'social']
6         6  ['web', 'email', 'mobile', 'social']
7         7         ['email', 'mobile', 'social']
8         8  ['web', 'email', 'mobile', 'social']
9         9            ['web', 'email', 'mobile']

Checking on the base of offers, it is noted that the offer with ID 4 has the smallest number of distribution channels, which can be an explanation for the low view rate.

In fact, this happens to the other offers.The more disclosure channels, the higher the visualization fee

Visualizations by ages

Dividing the range of ages in quartiles to see distribution of visualization rate

For the old quarks, the proportions are very similar.  

Statistically checking for two sets of groups

In [42]:
aux_fun.test_proportions_in_dataframe(df=user_offer_df2, column='age_quartile', 
     cat1=pd.Interval(45.0, 55.0), cat2=pd.Interval(17.999, 45.0), metric='viewed_rate')

aux_fun.test_proportions_in_dataframe(df=user_offer_df2, column='age_quartile', 
     cat1=pd.Interval(45.0, 55.0), cat2=pd.Interval(65.0, 101.0), metric='viewed_rate')

p-value of 0.0. With confidence value of 0.05, (45.0, 55.0] and (17.999, 45.0] distributions are different
p-value of nan. With confidence value of 0.05, (45.0, 55.0] and (65.0, 101.0] distributions are different

d:\users\mdb24998\AppData\Local\Programs\Python\Python38\lib\site-packages\statsmodels\stats\proportion.py:840: RuntimeWarning: invalid value encountered in true_divide
  prop = count * 1. / nobs
d:\users\mdb24998\AppData\Local\Programs\Python\Python38\lib\site-packages\statsmodels\stats\proportion.py:856: RuntimeWarning: divide by zero encountered in true_divide
  nobs_fact = np.sum(1. / nobs)

Different from distributions to type of offer, in this case the old quartile groups do not have statistical differences.  
So, all these groups have the same proportion in Viewing Offers

The same analysis for income groups

In [43]:
aux_fun.test_proportions_in_dataframe(df=user_offer_df2, column='income_quartile', 
     cat1=pd.Interval(29999.999, 51000.0), cat2=pd.Interval(51000.0, 64000.0), metric='viewed_rate')

aux_fun.test_proportions_in_dataframe(df=user_offer_df2, column='income_quartile', 
     cat1=pd.Interval(76000.0, 120000.0), cat2=pd.Interval(51000.0, 64000.0), metric='viewed_rate')

p-value of 1.0. With confidence value of 0.05, (29999.999, 51000.0] and (51000.0, 64000.0] distributions are equal
p-value of 1.0. With confidence value of 0.05, (76000.0, 120000.0] and (51000.0, 64000.0] distributions are equal

Again, view rates for income groups do not differ

Opening for offer types

Perhaps age and income views vary based on the type of offer

In [44]:
# Get the types of different offers
offer_types = portfolio2.offer_type.unique()
offer_types

array(['bogo', 'informational', 'discount'], dtype=object)

Nothing different from the porportions again. High values are for BOGO offers, which had already been seen previously.

For income quartiles

Same situation, without any big tendecy.  

A point that can be highlighted is that the discount type has lower proportion for the first quatis (both age and income). In other groups, the proportions follow the general trend already seen between types of offers.

If well observe, rates are many similar to age groupings and income. This is related to the distribution of data.People from the first quartile old are also more present in the quartile of income

In [46]:
user_offer_df2.groupby(['age_quartile', 'income_quartile']).agg(count=('income_quartile', 'count'))

                                     count
age_quartile   income_quartile
(17.999, 45.0] (29999.999, 51000.0]   7321
               (51000.0, 64000.0]     4530
               (64000.0, 76000.0]     3303
               (76000.0, 120000.0]    1116
(45.0, 55.0]   (29999.999, 51000.0]   2734
               (51000.0, 64000.0]    10575
               (64000.0, 76000.0]     2435
               (76000.0, 120000.0]    3919
(55.0, 64.0]   (29999.999, 51000.0]   2522
               (51000.0, 64000.0]     2326
               (64000.0, 76000.0]     2243
               (76000.0, 120000.0]    4446
(64.0, 101.0]  (29999.999, 51000.0]   3444
               (51000.0, 64000.0]     3174
               (64000.0, 76000.0]     3064
               (76000.0, 120000.0]    6136

##### 3. Complete Rate

Após recebida, a oferta pode ser visualizada ou não.  
Para completar uma oferta não é necessário olhar para ela.

Completation by Type of Offer

What looks like is that buy-one get one offers has a slightly larger viewing fee compared to the other two.

Fact that proportions are not really so far from one another
However, it is possible to test whether these proportions are statistically different with a test of proprotions between independent samples (and considering that they are normal).

In [47]:
# Proportion test between two samples
# The test is one-tailed greater than

list_set = [['discount', 'bogo']]

analisys_df = user_offer_df2.loc[user_offer_df2['viewed_rate'] != 0]

for set_ in list_set:
    aux_fun.test_proportions_in_dataframe(df=analisys_df, column='offer_type', 
        cat1=set_[0], cat2=set_[1], metric='completed_rate')

p-value of 0.0. With confidence value of 0.05, discount and bogo distributions are different

Como visto, a taxa de completação de ofertas é maior para ofertas do tipo discount, validado estatisticamente.  

Assim, quando comparado com bogo, pode-se dizer que as pessoas usam mais os discontos que as ofertas de comprar um e levar outro

Complete by offer id

Ofertas 7 e 2 são informational, logo, não tem completação.  
Para as demais, nota-se que a oferta 6 e 5 têm maior completação. 
A oferta 1 tem uma boa taxa de visualição, mas não foi tão completada quanto as demais.  
A oferta 8 tinha uma taxa de visualização alta, porém, mostrou taxa de completação baixa.

A razão para isso talvez seja melhor vista abaixo

Pelo que é visualizado, as ofertas de tipo disconto tem realmente maiores taxa de completação em comparação com as ofertas do tipo bogo. 

Assim, para os usuários, as ofertas de disconto parecem mais chamativas que as de oferta de ganhar outro de graça

Completation by ages

Dividing the range of ages in quartiles to see distribution of visualization rate

Na separação por grupos de idades, nota-se que as diferenças estatísticas na visualização de ofertas também se reflete na taxa de completação.  

Grupos

In [48]:
analisys_df = user_offer_df2.loc[user_offer_df2['viewed_rate'] != 0]

aux_fun.test_proportions_in_dataframe(df=analisys_df, column='age_quartile', 
     cat1=pd.Interval(45.0, 55.0), cat2=pd.Interval(17.999, 45.0), metric='completed_rate')

aux_fun.test_proportions_in_dataframe(df=analisys_df, column='age_quartile', 
     cat1=pd.Interval(45.0, 55.0), cat2=pd.Interval(65.0, 101.0), metric='completed_rate')

p-value of 1.0. With confidence value of 0.05, (45.0, 55.0] and (17.999, 45.0] distributions are equal
p-value of nan. With confidence value of 0.05, (45.0, 55.0] and (65.0, 101.0] distributions are different

d:\users\mdb24998\AppData\Local\Programs\Python\Python38\lib\site-packages\statsmodels\stats\proportion.py:840: RuntimeWarning: invalid value encountered in true_divide
  prop = count * 1. / nobs
d:\users\mdb24998\AppData\Local\Programs\Python\Python38\lib\site-packages\statsmodels\stats\proportion.py:856: RuntimeWarning: divide by zero encountered in true_divide
  nobs_fact = np.sum(1. / nobs)

Different from distributions to type of offer, in this case the old quartile groups do not have statistical differences.  
So, all these groups have the same proportion in Viewing Offers

The same analysis for income groups

In [49]:
analisys_df = user_offer_df2.loc[user_offer_df2['viewed_rate'] != 0]

aux_fun.test_proportions_in_dataframe(df=analisys_df, column='income_quartile', 
     cat1=pd.Interval(29999.999, 51000.0), cat2=pd.Interval(51000.0, 64000.0), metric='completed_rate')

aux_fun.test_proportions_in_dataframe(df=analisys_df, column='income_quartile', 
     cat1=pd.Interval(76000.0, 120000.0), cat2=pd.Interval(51000.0, 64000.0), metric='completed_rate')

p-value of 0.0. With confidence value of 0.05, (29999.999, 51000.0] and (51000.0, 64000.0] distributions are different
p-value of 0.0. With confidence value of 0.05, (76000.0, 120000.0] and (51000.0, 64000.0] distributions are different

Estatisticamente os valores diferem.  

Observa-se que para as rendas de valores maiores (último quartil), as taxas de completação são maiores comparadas aos outros grupos, enquanto as taxas de visualização eram muito próximas.

Opening for offer types

Perhaps age and income views vary based on the type of offer

In [50]:
# Get the types of different offers
offer_types = portfolio2.offer_type.unique()
offer_types

array(['bogo', 'informational', 'discount'], dtype=object)

Em todos os grupos, nota-se os valores mais altos em disconto, ao invés de bogo

For income quartiles

Para o grupo com maior taxa de compeltação (último quartil de renda), tanto bogo quando disconto é visto por igual.  

Já para outros grupos, nota-se que o grupo do primeiro quartil tem maior taxa de completar discontos ao invés de bogo.

##### 4. Transactions

Transações realizadas pelos usuários são de dois tipos, uma natural e outra influenciada por uma oferta.  

A transações influenciadas por ofertas são o alvo dessa análise.

Mean transactions by offer type

Transações por offer ID

In [51]:
import functions.functions as aux_fun
importlib.reload(aux_fun)

aux_fun.test_means_in_dataframe(df=user_offer_df2, column='offer_id_rec', 
    cat1=3, cat2=4, metric='tra_offer_infl')

p-value of 0.149.
With confidence value of 0.05, means of 3 (5.74) and 4 (6.33) are equal

In [52]:
portfolio.sort_values('offer_type')

,reward,channels,difficulty,duration,offer_type,id,offer_id
0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd,0
1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,1
3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,3
8,5,"['web', 'email', 'mobile', 'social']",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d,8
4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,4
5,3,"['web', 'email', 'mobile', 'social']",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2,5
6,2,"['web', 'email', 'mobile', 'social']",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4,6
9,2,"['web', 'email', 'mobile']",10,7,discount,2906b810c7d4411798c6938adc9daaa5,9
2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed,2
7,0,"['email', 'mobile', 'social']",0,3,informational,5a8bc65990b245e5a138643cd4eb9837,7

Transaction by ages

O grupo de 45 a 55 anos tem menor taxa de completação e menores gastos gerais devido as ofertas

In [53]:
aux_fun.test_means_in_dataframe(df=user_offer_df2, column='income_quartile', 
    cat1=pd.Interval(51000,64000), cat2=pd.Interval(29999.999, 51000.0), metric='tra_offer_infl')

p-value of 0.678.
With confidence value of 0.05, means of (51000, 64000] (7.1) and (29999.999, 51000.0] (7.18) are equal

Para as transações por grupo de renda, nota-se que segue o racional da renda, quanto maior, maior a quantida de transações feita por aquele grupo.

Usuários com mais tempo de membro costumam gastar mais devido a ofertas

In [54]:
aux_fun.test_means_in_dataframe(df=user_offer_df2, column='member_time_quartile', 
    cat1=pd.Interval(208.0, 358.0), cat2=pd.Interval(358.0, 791.75), metric='tra_offer_infl')

KeyError: 'member_time_quartile'

In [ ]:
aux_fun.test_means_in_dataframe(df=user_offer_df2, column='gender', 
    cat1='F', cat2='O', metric='tra_offer_infl')

p-value of 0.706. With confidence value of 0.05, means of F (31.77) and O (32.66) are equal

Em média, mulhes e outros gastam mais após ofertas que homens